@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
  overflow: hidden;
}

section {
  background-color: #e5c30a;
}

section h2 {
  margin: 0;
}

section p {
  margin: 0;
}

.section-body {
  padding: 1.3rem;
  padding-top: 0;
}

.section-letter {
  float: left;
  width: 50%;
  padding: 1rem;
  padding-right: 0;
}

.section-icon {
  float: right;
  width: 50%;
  padding: 1rem;
  padding-left: 0;
}

@media only screen and (min-width: 25em) {

  .section-letter {
    padding: 1.3rem;
  }

  .section-icon {
    padding: 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .section-body {
    padding: 1.3rem;
    padding-top: 1.3rem;
  }

  .section-letter {
    float: left;
    width: 25%;
  }

  .section-icon {
    float: right;
    width: 25%;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
